* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.performance {
    height: 33rem;
    width: 40rem;
    margin: auto;
    margin-top: 5rem;
    background-color: white;
    padding: 3rem;
    padding-left: 5rem;
    position: relative;
}

li {
    list-style: none;
}

ul li:last-child {
    background-color: #26a39b;
    font-size: 1.5rem;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: "Times New Roman";


}

ul li {
    background-color: white;
    box-shadow: #717171 0px 0px 4px 0px;
    height: 5rem;
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.25rem;
    border-radius: 4px;

}

ul li:first-child::before {
    content: '1';
}

ul li:last-child::before {
    content: '=';
    border-radius: 5px;
    background-color: #2699a0;
    color: white;
    font-weight: 900;
}

ul li:nth-child(2)::before {
    content: '2';

}

ul li:nth-child(3)::before {
    content: '3';
}

ul li:nth-last-child(2)::before {
    content: '4';
}

ul li::before {
    position: absolute;
    left: 1.3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #717171;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
}

ul li dl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

}

dt {
    color: #d8d8d8;
    font-size: 13px;
}

dd {

    color: #717171;
}